/*init*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

html {
    display: block;
}

body {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
}


/* game */

.game {
    margin: 0 auto;
    min-height: 100%;
    background: url(../img/game-bg.jpg) center;
    box-sizing: border-box;
    overflow: hidden;
}

.pop-error {
    position: relative;
    left: 50%;
    top: 50%;
    background: url('../img/pop_error.png');
    background-size: 100%100%;
    ;
    width: 70%;
    height: 30%;
    transform: translate(-50%, -90%);
    text-align: center
}

.pop {
    position: relative;
    left: 50%;
    top: 50%;
    background: url('../img/pop_bg.png');
    background-size: 100%100%;
    ;
    width: 70%;
    height: 30%;
    transform: translate(-50%, -90%);
    text-align: center
}

.game .wheel-box {
    width: 7.92rem;
    height: 7.92rem;
    text-align: center;
    /* margin: -10px auto; */
    position: relative;
}

.game .wheel-box #wheel {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    background: url('../img/game-wheel.png') center center no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.game .wheel-box #arrow {
    width: 1.55rem;
    height: 2.21rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: .6rem;
    margin: auto;
    z-index: 2;
    background: url('../img/game-arrow.png') center center no-repeat;
    background-size: 1.55rem 2.21rem;
}

.game .luckDrawCount {
    text-align: center;
    color: #fff;
    font-size: .28rem;
    position: relative;
    top: -.5rem;
}